#CONTROL FLOWS..

In [ ]:
a=10

In [ ]:
#we dont have to define data-type like other progg, in python it detect automatically, eg: its  dynamic language
# it will automatically recognise weather it is int , str, bool,etc.

In [ ]:
STRING NOTHING BUT A SEQUENCE OF CHARACTER AND ITS WRITTEN UNDER "" LIKE "RAMESH".

In [7]:
a=10

In [8]:
a

10

In [10]:
type(a)

int

In [16]:
s=('cute_dog')

In [17]:
type(s)

str

In [ ]:
here s is a variable (tempory storage space or folder like)

In [ ]:
typecasting-onvert string into int.

In [18]:
int('123')

123

In [21]:
print("hello guys")

hello guys

In [22]:
print(123)

123

In [23]:
type(print)

builtin_function_or_method

In [ ]:
ways of print--

In [24]:
age=32
print("my age is:",age)

my age is: 32

In [28]:
print("my age is:,{age}")

my age is:,{age}

In [ ]:
#formating

In [31]:
print(f"my age is:{age}")

my age is:32

In [32]:
print("my age is {}".format(age))

my age is 32

In [30]:
name='sonu'
age=32
print("my name is:",name)
print("and age is:",age)

my name is: sonu
and age is: 32

In [33]:
name='sonu'
age=32
print("my name is {} and age is {}".format(name,age))

my name is sonu and age is 32

In [34]:

print("my name is {} and age is {}".format(age,name))

my name is 32 and age is sonu

In [35]:

print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name,))

my name is sonu and age is 32

In [37]:
name="krish naik"
age=32
degree="BE"
"my age is 32 and i have completed: my degree of BE tech with name of Krish"

'my age is 32 and i have completed: my degree of BE tech with name of Krish'

In [38]:
print("my age is {} and i have completed: my degree of {} with name of {}".format(age,degree,name))

my age is 32 and i have completed: my degree of BE with name of krish naik

In [39]:
print(f"my age is {age} and ihave completed: my degree of {degree} with the name of {name}")

my age is 32 and ihave completed: my degree of BE with the name of krish naik

In [ ]:
control flow
decesion making statements
1.if
2.if else
3.if elif else
4.Nested if
5. single statement suites.

#if statements.

In [40]:
age=18
if age>=18:
    print('you are eligible to vote')

you are eligible to vote

In [41]:
if age<=18:
    print('you are not eligible to vote')

you are not eligible to vote

In [42]:
age=18
if age<18:
    print('you are eligible to vote')

In [ ]:
#nothing printed because condition unsatisfied.

input() function write input and execute it will open a promt by default datatype input function on prompt box is string.

In [ ]:
input()

In [ ]:
mention a name on promt box

In [43]:
name=input('enter the name ')

enter the name  asha

In [5]:
name=input('enter the name ')

enter the name  sonu

In [ ]:
name=input('enter the name ')

In [ ]:
#type casting helps a string conversion to int value

In [44]:
age=int(input('enter your age'))

enter your age 29

In [ ]:
task 
#take a input of age 
#check wheather age >=18 and age<=45
#display msg you are a fit guy.

In [45]:
age=int(input('enter the age'))
if age>=18 and age<=45:
    print ('you are a fit guy')

enter the age 45

you are a fit guy

In [ ]:
##if else statement

In [7]:
age=int(input('enter the name'))
if age>=18 and age<=45:
    print('you are afit guy')
else :
    print('you are not healthy')

enter the name 50

you are not healthy

In [ ]:
#mall
#you buy product  >1000 u wil get 20%off
 you buy product <= 1000 u will get 10% off
    #print the product price after discount

In [1]:
product_price=int(input('enter the price'))
if product_price>1000:
    print('the price of product is {}'.format(product_price*0.8))
else:
    print('the price of product is {}'.format(product_price*0.9))

enter the price 5000

the price of product is 4000.0

In [2]:
product_price=int(input('enter the price'))
if product_price>1000:
    print('the price of product is {}'.format(product_price*0.8))
else:
    print('the price of product is {}'.format(product_price*0.9))

enter the price 900

the price of product is 810.0

In [ ]:
in f format

In [6]:
product_price=int(input('enter the price'))
if product_price>1000:
    print(f'the price of product is {product_price*0.8}')
else:
    print(f'the price of product is {product_price*0.9}')

enter the price 3500

the price of product is 2800.0

In [ ]:
# in normal format

In [47]:
product_price=int(input('enter the price'))
if product_price>1000:
    print('the price of product is:',product_price*0.8)
else:
    print('the price of product is:',product_price*0.9)

enter the price 1500

the price of product is: 1200.0

In [ ]:
more condition 
#if price >3000rs 20%off
#if price >=2000rs and <=3000rs 30%off
#price <=1000rs and <=2000rs 40%off.

In [55]:
product_price=int(input('enter the price'))
if product_price>1000:
    print(f'the price of product is {product_price*0.8}')
elif product_price>=2000 and product_price<=3000:
       print(f'the price of product is {product_price*0.75}')
if product_price==2999:
    print('congratulations you get a gift')
    print(f'the price of product is {product_price*0.7}')
elif  product_price>=100 and product_price<=2000:
    print(f'the price of product is {product-price*0.6}') 
else:
    print('lets drink tea')

enter the price 2300

the price of product is 1840.0
lets drink tea

In [12]:
product_price=int(input('enter the price'))
if product_price>1000:
    print('the price of product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
        print(f'the price of product is {product_price*0.7}')
else:
    print('the price of product is {}'.format(product_price*0.9))

enter the price 2500

the price of product is 2000.0

In [7]:
#single statement value.
val=int(input('enter the number'))
if(val<=999):
    print('value is less than equal to 999')

enter the number 300

value is less than equal to 999

#loops

In [ ]:
1. while loop
2.for loop
3 nested loop
4 loop control( break ,continue,pass)

In [12]:
#while loops
joining_age=18
while joining_age<=25:
    print(joining_age)
    joining_age=joining_age+1
else:
    print('sorry app;ication rejected')

18
19
20
21
22
23
24
25
sorry app;ication rejected

In [10]:
###atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    total_amount =total_amount-100
    print(total_amount)
else:
        print('put more money please')

900
800
700
600
500
400
300
200
100
0
put more money please

for loop

In [5]:
lst=['krish',1,2,3,4,'apple','orange']

In [6]:
type(lst)

list

In [ ]:
#list is like a basket where u can put diffrent diff things.

In [13]:
lst[0]

'krish'

In [17]:
lst[1]

1

In [ ]:
#for and a tempory variable x and a collection

In [18]:
for x in lst:
    print(x)

krish
1
2
3
4
apple
orange

In [20]:
fruits_list=['mango','cherry','apple','guava','potato']

In [25]:
for x in fruits_list:
    print(x)

mango
cherry
apple
guava
potato

In [26]:
for x in fruits_list:
    print(x)
    if x=='cherry':
        print('the fruit is cherry')

mango
cherry
the fruit is cherry
apple
guava
potato

In [27]:
for x in fruits_list:
    print(x,end='')
    if x=='cherry':
        print('the fruit is cherry')

mangocherrythe fruit is cherry
appleguavapotato

In [ ]:
#strings is also collection of elements

In [28]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [29]:
fruit[0]

'm'

In [30]:
fruit[1]

'a'

In [ ]:
###  Nested loops

In [31]:
range(1,6)

range(1, 6)

In [33]:
for i in range (1,6):
               print(i)

1
2
3
4
5

In [34]:
for i in range (1,6,2):
               print(i)

1
3
5

In [ ]:
#2 is step size

In [35]:
for i in range (1,10,2):
               print(i)

1
3
5
7
9

In [42]:
n=3
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")

******

In [43]:
n=3
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="\n")

*
*
*
*
*
*

In [46]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")
    print("\r")

*
**
***
****
*****
******
*******

In [46]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
#loop controls
#break 
#continue

In [20]:
fruits_list=['mango','cherry','apple','guava','potato']

In [47]:
for x in fruits_list:
    if x=='apple':
        print('the fruit is apple')
    print(x)

mango
cherry
the fruit is apple
apple
guava
potato

In [48]:
for x in fruits_list:
    if x=='apple':
        print('the fruit is apple')
        break
    print(x)

mango
cherry
the fruit is apple

In [49]:
for x in fruits_list:
    if x=='apple':
        print('the fruit is apple')
        pass
    print(x)

mango
cherry
the fruit is apple
apple
guava
potato

In [ ]:
#continue

In [50]:
for x in fruits_list:
    if x=='apple':
        print('the fruit is apple')
        continue
    print(x)

mango
cherry
the fruit is apple
guava
potato

In [ ]:
# NOTE :break is ut the loop while continue esape the loop